<style>
.section {
	margin-bottom: 35%;
}

body {
	font-family: "Times New Roman", Georgia, Serif;
}

#text {
	font-size: 110%;
}

#headerSize {
	float: left;
	
	width: 20%;
	
	padding-left: 5%;
	padding-top: 3%;
}
#myName {
	font-size: 250%;
}
</style>