<style>
.section {
	margin-bottom: 35%;
}

body {
	font-family: "Times New Roman", Georgia, Serif;
	background-color: #dff9fb;
}

/* unvisited link */
a:link { color: rgba(238, 46, 100, 1); text-decoration: none; }
/* visited link */
a:visited { color: green; text-decoration: none; }
/* mouse over link */
a:hover { color: hotpink; text-decoration: underline; }
/* selected link */
a:active { color: blue; text-decoration: underline; }

#text {
	font-size: 110%;
}

#headerSize {
	float: left;
	
	width: 30%;
	
	padding-left: 5%;
	padding-top: 3%;
}

#myName {
	font-size: 250%;
}

li {
	padding-left: 10%;
}

.personalInfo {
	background-color: rgba(161, 220, 251, 0.5);
	border-radius: 15px;
	padding: 3%;
}

.mainTextBox {
	background-color: white;
	border-radius: 15px;
	padding: 3%;
}

.mainTextBox_coloured {
	background-color: rgba(144, 255, 233, 0.55);
	border-radius: 15px;
	padding: 3%;
}


.backButton {
	padding: 1%;
	font-size: 125%;
	background-color: white;
	border-radius: 15px;
	margin-left: 2%;
}

</style>