.backgroundBody {
	background-color: rgba(0, 255, 52, 0.4);
}

.selectOption {
	background-color: white;
	border-radius: 15px;
	padding: 3%;
	width: 67%;
	
	box-shadow: 5px 5px 15px rgba(122, 162, 168, 0.25);
	
	animation-name: transitionUp;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
}

h1.hOne {
	margin: 3% 0 3% 5%;
}

/*----------------------------------- App Main -----------------------------------*/
.sliders {
	background-color: white;
	border-radius: 30px;
	
	width: 70%;

	padding: 5%;
}

.sliderLocation {
	display: inline-block; 
	vertical-align: middle; 
	width: 18%;
}

.sliderDirection {
	width: 100%;
}


/*----------------------------------- App Down -----------------------------------*/
.next {
	position: fixed;
	bottom: 3%;
	right: 5%;
	
	height: 10%;
}

.settings {
	position: fixed;
	bottom: 2%;
	right: 42%;
	
	height: 12%;
}

.stats {
	position: fixed;
	bottom: 2%;
	left: 5%;
	
	height: 12%;
}

.backgroundButtons {
	background-color: rgba(38, 176, 255, 0.58); 
		
	position: fixed; 
	bottom: 0; 
	left: 0;
	right: 0;
	
	height: 16%;
	width: 100%;
	
	border-color: white;
	border-width: 100px; 
	border-radius: 10px 10px 0px 0px;
	opacity: 1;
		
	box-shadow: 5px 5px 15px rgba(168, 123, 151, 0.25);
}


/*----------------------------------- Animation -----------------------------------*/
@keyframes transitionUp {
	0% {
		margin-top: 5px;
	    opacity: 0;
	    filter: alpha(opacity=0);
    }
    100% {
	    margin-top: 0px;
	    opacity: 1;
	    filter: alpha(opacity=100);
    }
}