.backgroundBody {
	/*background-color: rgba(0, 255, 52, 0.4);*/
	background-image: url(Files/backgroundPic.jpg);
	background-repeat: no-repeat;
	background-position: right bottom;
	-webkit-background-size: cover;
	
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	
	filter: blur(5px);
	
	z-index: -1;
}

.selectOption {
	background-color: white;
	border-radius: 15px;
	padding: 3%;
	width: 67%;
	
	box-shadow: 5px 5px 15px rgba(122, 162, 168, 0.25);
	
	animation-name: transitionUp;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
}

h1.hOne {
	margin: 3% 0 3% 5%;
}

.hidden {
	display: none;
}


/*----------------------------------- App Main -----------------------------------*/
.sliders {
	background-color: rgba(216, 255, 245, 0.8);
	border-radius: 15px;
	
	width: 80%;
	padding: 10%;
}

.allSliders {
	margin-top: 10%;
}

.sliderLocation {
	display: inline-block; 
	vertical-align: middle; 
	width: 25%;
	padding: 3% 0 0 0;
	
	background: rgba(252, 255, 215, 0.54);
	border-radius: 10px;
	cursor: pointer;
	z-index: 3;
}

.sliderDirection {
	width: 100%;
}


.settingsChoices {
	width: 70%;
	
	position: fixed;
	top: 20%;
	left: 10%;
	
	background-color: white;
	border-radius: 15px;
	padding: 5%;
	
	box-shadow: 5px 5px 15px rgba(122, 162, 168, 0.25);
}


/*----------------------------------- App Down -----------------------------------*/
.next {
	position: fixed;
	bottom: 3%;
	margin-left: 78%;
	
	height: 10%;
}

.settings {
	position: fixed;
	bottom: 2%;
	margin-left: 42%;
	
	height: 12%;
}

.stats {
	position: fixed;
	bottom: 2%;
	margin-left: 5%;
	
	height: 12%;
}

.backgroundButtons {
	background-color: rgba(38, 176, 255, 0.8); 
		
	position: fixed; 
	bottom: 0; 
	left: 0;
	right: 0;
	
	height: 16%;
	width: 100%;
	
	border-color: white;
	border-width: 100px; 
	border-radius: 10px 10px 0px 0px;
	opacity: 1;
		
	box-shadow: 5px 5px 15px rgba(168, 123, 151, 0.25);
}

/*----------------------------------- Animation -----------------------------------*/
@keyframes transitionUp {
	0% {
		margin-top: 5px;
	    opacity: 0;
	    filter: alpha(opacity=0);
    }
    100% {
	    margin-top: 0px;
	    opacity: 1;
	    filter: alpha(opacity=100);
    }
}



/*----------------------------------- Home to Settings -----------------------------------*/
.settingsAppears_1 {
	animation-name: settingsAppears_1;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
}

@keyframes settingsAppears_1 {
	0% {
		margin-top: 100%;
		opacity: 0;
    }
    100% {
	    margin-top: 10%;
	    opacity: 1;
    }
}

.settingsAppears_2 {
	animation-name: settingsAppears_2;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
}

@keyframes settingsAppears_2 {
	0% {
		margin-top: 100%;
		opacity: 0;
    }
    100% {
	    margin-top: 30%;
	    opacity: 1;
    }
}

.settingsAppears_3 {
	animation-name: settingsAppears_3;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
}

@keyframes settingsAppears_3 {
	0% {
		margin-top: 100%;
		opacity: 0;
    }
    100% {
	    margin-top: 50%;
	    opacity: 1;
    }
}

.settingsAppears_4 {
	animation-name: settingsAppears_4;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
}

@keyframes settingsAppears_4 {
	0% {
		margin-top: 100%;
		opacity: 0;
    }
    100% {
	    margin-top: 70%;
	    opacity: 1;
    }
}

.vanishes {
	animation-name: vanishes;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

@keyframes vanishes {
	0% {
		opacity: 1;
    }
    100% {
	    opacity: 0;
    }
}

.upMove {
	animation-name: upMove;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
}

@keyframes upMove {
	0% {
		padding-bottom: 0;
    }
    100% {
	    padding-bottom: 115%;
    }
}

.upMoveforStats {
	animation-name: upMove-Stats;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
}

@keyframes upMove-Stats {
	0% {
		padding-bottom: 0;
		margin-left: 5%;
    }
    100% {
	    padding-bottom: 115%;
	    margin-left: 40%;
    }
}

.opposite {
	-moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
    
    z-index: 5;
}

.fromNext_toBack {
	animation-name: fromNext_toBack;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
}

@keyframes fromNext_toBack {
	0% {
		-moz-transform: scaleX(1);
        -o-transform: scaleX(1);
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
        filter: FlipH;
        -ms-filter: "FlipH";
        
    	margin-left: 78%;
    }
    100% {
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
        
    	margin-left: 5%;
    }
}





/*----------------------------------- Settings to Home -----------------------------------*/
.settingsVanishes {
	animation-name: settingsVanishes;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

@keyframes settingsVanishes {
	0% {
		opacity: 1;
    }
    100% {
	    opacity: 0;
    }
}

.appears {
	animation-name: appears;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
}

@keyframes appears {
	0% {
		opacity: 0;
    }
    100% {
	    opacity: 1;
    }
}

.downMove {
	animation-name: downMove;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
}

@keyframes downMove {
	0% {
		padding-bottom: 115%;
    }
    100% {
	    padding-bottom: 0;
    }
}

.normal {
	-moz-transform: scaleX(1);
	-o-transform: scaleX(1);
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
	filter: FlipH;
	-ms-filter: "FlipH";
}

.fromBack_toNext {
	animation-name: fromBack_toNext;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
}

@keyframes fromBack_toNext {
	0% {
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
        
    	margin-left: 5%;
    }
    100% {
        -moz-transform: scaleX(1);
        -o-transform: scaleX(1);
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
        filter: FlipH;
        -ms-filter: "FlipH";
        
    	margin-left: 78%;
    }
}